

.scene{
    
    width: 7.5rem;
    height: 12rem;
    perspective: 600px;

}
.card {
    border: .1rem solid var(--border-color);
    border-radius: .2rem;
    
    width: 100%;
    height: 100%;
    margin-bottom: 1rem;
    position: relative;
    transition: transform 1s;
    transform-style: preserve-3d;

}

.cardFace{
    position: absolute;
    height: 100%;
    width: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;

}

.cardFaceFront{
    background-color: var(--main-color);
}

.cardFaceBack {
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotateY(180deg); 
    background-color: var(--main-color);



  }
