.overlay {
    position: fixed;
    display: block; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
    cursor: pointer; /* Add a pointer on hover */
  
}

.popout{
    display: flex;
    flex-flow: column wrap;
    border: 0.1rem solid var(--border-color) transparent;
    position: fixed;
    bottom: 50%;
    height: 40%;
    width: 20%;
    z-index: 25;
    background-color: white;
    border-radius: 0.5rem;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--main-color);
    
}

.TimeForm{
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
}

.ButtonPlayAgain{
    background-color: var(--green);

}

.ButtonSubmitTime{
    background-color: var(--blue);

}



  section{
    font-size: 1.5rem;
    color: white;
    text-align: center;
     
  }

  h1{
    color:var(--pink)
  }

  .close{
      position: absolute;
      top: 0;
      right: 0;
  }
