.one {
  background: conic-gradient(var(--yellow) 50%, var(--blue) 50%);
  width: 60%;
  height: 40%;
}

.two {
  background: linear-gradient(45deg, var(--blue) 50%, var(--pink) 50%);
  width: 60%;
  height: 40%;
}

.three {
  background: linear-gradient(135deg, var(--blue) 50%, var(--blue) 50%) 0 100% /
      50% 50% no-repeat,
    linear-gradient(135deg, var(--pink), var(--pink)) 0 100% / 75% 75% no-repeat,
    linear-gradient(135deg, var(--yellow), var(--yellow)) 0 100% / 100% 100%
      no-repeat;
  width: 60%;
  height: 40%;
}

.four {
  background-image: linear-gradient(
    to right,
    var(--pink),
    var(--pink) 25%,
    var(--green) 25%,
    var(--green) 75%,
    var(--pink) 75%
  );
  width: 60%;
  height: 40%;
}

.five {
  background: conic-gradient(
    var(--yellow) 25%,
    var(--blue) 25% 50%,
    var(--green) 50% 75%,
    var(--pink) 75% 100%
  );
  width: 60%;
  height: 40%;
}

.six {
  background: conic-gradient(
      var(--yellow) 25%,
      var(--blue) 25% 50%,
      var(--pink) 50% 75%,
      var(--green) 75%
    )
    top left/ 25% 25% repeat;
  width: 60%;
  height: 40%;
}

.seven {
  background-image: linear-gradient(
    var(--yellow),
    var(--yellow) 33%,
    var(--green) 33%,
    var(--green) 66%,
    var(--pink) 66%
  );

  width: 60%;
  height: 40%;
}

.eight {
  background-image: repeating-linear-gradient(
    45deg,
    var(--yellow),
    var(--yellow) 1rem,
    var(--pink) 1rem,
    var(--pink) 2rem  
  );
  width: 60%;
  height: 40%;
} 

.nine {
  background-image: repeating-radial-gradient(
    circle at 0 0,
    var(--blue),
    var(--green) 50px
  );

  width: 60%;
  height: 40%;
} 
