:root {
  --blue: #00f0ff;
  --pink: #ff94a9;
  --yellow: #f9f871;
  --green: #78C664;
}

.one {
  background: conic-gradient(var(--yellow) 50%, var(--blue) 50%);
  clip-path: polygon(0 100%, 50% 0%, 100% 100%, 0% 50%, 100% 50%);
  width: 60%;
  height: 40%;
}

.two {
  background: linear-gradient(45deg, var(--blue) 50%, var(--pink) 50%);
  width: 60%;
  height: 40%;
}

.three {
  background: linear-gradient(135deg, var(--blue) 50%, var(--blue) 50%) 0 100% /
      50% 50% no-repeat,
    linear-gradient(135deg, var(--pink), var(--pink)) 0 100% / 75% 75% no-repeat,
    linear-gradient(135deg, var(--yellow), var(--yellow)) 0 100% / 100% 100%
      no-repeat;
  width: 60%;
  height: 40%;
}

.four {
  
    background: linear-gradient(90deg, var(--blue) 50%, var(--blue) 50%) 0 100% /
          33% 100% no-repeat,
        linear-gradient(90deg, var(--pink), var(--pink)) 0% 100% / 66% 100% no-repeat, linear-gradient(90deg, var(--yellow), var(--yellow)) bottom right / 99% 100% no-repeat;
    width: 60%;
    height: 40%;
    clip-path: polygon(0 100%, 50% 0%, 100% 100%);
    transform: rotate(180deg);
}

.five{

    background: conic-gradient(var(--yellow) 25%,  var(--blue) 25% 50%, var(--green) 50% 75%,  var(--pink) 75% 100% );
    width: 60%;
    height: 40%;
    
}

.six{
    background:conic-gradient(var(--yellow) 25%, var(--blue) 25% 50%, var(--pink) 50% 75%, var(--green) 75%) top left/ 25% 25% repeat;
    width: 60%;
    height: 40%;
}